


.btn{
     margin: 0!important;
     height: 25px;
     width: 46px;
}

.btn-danger{
     margin: 0!important;
}

.buttons-table-box{
     display: flex;
     align-items: center;
     justify-content: flex-start;
}